@tailwind base;
@tailwind components;
@tailwind utilities;

.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.min-vh-100 {
    min-height: 100vh !important;
}
