@tailwind base;
@tailwind components;
@tailwind utilities;

.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.min-vh-100 {
    min-height: 100vh !important;
}

table.want-scroll tbody {
    max-height: 200px;
    overflow-y: auto;
    display: block;
}

table.want-scroll thead,
table.want-scroll tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.w-30 {
    width: 8rem;
}


.modal-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 127, 127, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-loading-overlay.show {
    visibility: visible;
}

#loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-btn:hover {
    svg {
        color: red;
    }
}

#iframe-reset-form {
    display: none;
}

.bg-custom-red {
    @apply bg-[#f87171];
}

.bg-custom-cyan-400 {
    @apply bg-cyan-400;
}

.bg-custom-dark-stone {
    @apply bg-[#6a5e4a];
}

.bg-custom-lime-400 {
    @apply bg-lime-400;
}

.bg-custom-yellow-500 {
    @apply bg-yellow-500;
}

.bg-custom-green-50 {
    @apply bg-green-50;
}

.status-custom-active {
    @apply text-[#43d33c];
}

.status-custom-deactivated {
    @apply text-[#f9322c];
}

.status-custom-pending {
    @apply text-[#ffb40a];
}
