table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th,
tbody th {
    color: #fff;
}

tbody td {
    font-weight: 500;
    color: rgba(255, 255, 255, .65);
}

.card {
    border-radius: .5rem;
}

.category-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category-label input[type="checkbox"] {
    display: none;
}

.category-label input[type="checkbox"] {
    display: none;
}

.category-label input[type="checkbox"]:checked + span {
    color: #f9322c;
}

.align-middle {
    vertical-align: middle !important;
}

.vacancy-ul {
    list-style: none;
}

.vacancy-ul li::before {
    content: "•";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 15px;
}

.text-14 {
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .transform-card {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        gap: 0 !important;
    }

    .transform-card-logo {
        flex: 0 0 auto;
        width: 16%;
    }
}

@media only screen and (max-width: 992px) {
    .transform-card {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        gap: 0 !important;
    }

    .transform-card-logo {
        flex: 0 0 auto;
        width: 35%;
    }
}