table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th,
tbody th {
    color: #fff;
}

tbody td {
    font-weight: 500;
    color: rgba(255, 255, 255, .65);
}

.card {
    border-radius: .5rem;
}

.category-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category-label input[type="checkbox"] {
    display: none;
}

.category-label input[type="checkbox"] {
    display: none;
}

.category-label input[type="checkbox"]:checked + span {
    color: #f9322c;
}

.align-middle {
    vertical-align: middle !important;
}

.vacancy-ul {
    list-style: none;
}

.vacancy-ul li::before {
    content: "•";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 15px;
}